/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.site-name
  display none!important

.sidebar-button
  display none!important

media screen and max-width 719px
  .navbar
    padding-left 0!important
