/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

#app
  overflow hidden

.home .hero img
  max-width 450px!important

.site-name
  display none!important

.sidebar-button
  display none!important

.navbar
  padding-left 1.5em!important
